/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

:root {
    --mainColor: #FF5399;
    --mainColorDark: #F9096A;
    --secondColor: rgba(255, 83, 153, .15);
    --orange: #FFBB00;
    --white: #fff;
    --textDark: #333333;
    --textMedium: #6B6B6B;
    --text: #8A8A8A;
    --grey: #F8F8F8;
    --grey2: rgba(245, 245, 245, .31);
}

/* fonts */
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Tajawal;
    src: url('../fonts/Tajawal-Light.eot');
    src: url('../fonts/Tajawal-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tajawal-Light.woff2') format('woff2'),
        url('../fonts/Tajawal-Light.woff') format('woff'),
        url('../fonts/Tajawal-Light.ttf') format('truetype'),
        url('../fonts/Tajawal-Light.svg#Tajawal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Tajawal;
    src: url('../fonts/Tajawal-Regular.eot');
    src: url('../fonts/Tajawal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tajawal-Regular.woff2') format('woff2'),
        url('../fonts/Tajawal-Regular.woff') format('woff'),
        url('../fonts/Tajawal-Regular.ttf') format('truetype'),
        url('../fonts/Tajawal-Regular.svg#Tajawal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Tajawal;
    src: url('../fonts/Tajawal-Medium.eot');
    src: url('../fonts/Tajawal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tajawal-Medium.woff2') format('woff2'),
        url('../fonts/Tajawal-Medium.woff') format('woff'),
        url('../fonts/Tajawal-Medium.ttf') format('truetype'),
        url('../fonts/Tajawal-Medium.svg#Tajawal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Tajawal;
    src: url('../fonts/Tajawal-Bold.eot');
    src: url('../fonts/Tajawal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tajawal-Bold.woff2') format('woff2'),
        url('../fonts/Tajawal-Bold.woff') format('woff'),
        url('../fonts/Tajawal-Bold.ttf') format('truetype'),
        url('../fonts/Tajawal-Bold.svg#Tajawal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Tajawal;
    src: url('../fonts/Tajawal-Black.eot');
    src: url('../fonts/Tajawal-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tajawal-Black.woff2') format('woff2'),
        url('../fonts/Tajawal-Black.woff') format('woff'),
        url('../fonts/Tajawal-Black.ttf') format('truetype'),
        url('../fonts/Tajawal-Black.svg#Tajawal-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/**** Init ****/
body {
    font-family: Roboto, Tajawal;
    overflow-x: hidden;
    direction: ltr;
    text-align: left;
}

.stopScroll {
    overflow: hidden;
}

.secPadding {
    padding: 80px 0;
    overflow: hidden;
}

.greyBg {
    background: var(--grey);
}

.greyBg2 {
    background: var(--grey2);
}

.whiteBg {
    background: var(--white);
}

p {
    color: var(--text);
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         MAIN BUTTONS      ||========================*/
/*==========================||---------------------------||========================*/

.fullBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainColor);
    color: var(--white);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 40px;
    padding: 0 20px;
    transition: all .4s ease-in-out;
}

.fullBtn span {
    position: relative;
    z-index: 2;
}

.fullBtn:after {
    content: '';
    display: block;
    height: 300%;
    width: 300%;
    position: absolute;
    left: -100%;
    top: -100%;
    border-radius: 25px;
    background: var(--mainColorDark);
    -webkit-transform: translate(-100%, 0) rotate(10deg);
    transform: translate(-100%, 0) rotate(10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    transition: 0.4s -webkit-transform ease-out;
    transition: 0.4s transform ease-out;
    transition: 0.4s transform ease-out, 0.4s -webkit-transform ease-out;
    will-change: transform;
    z-index: 0;
}

.fullBtn:hover:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.fullBtn:hover {
    color: var(--white);
}

.opacityBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondColor);
    color: var(--mainColor);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid var(--mainColor);
    transition: all .4s ease-in-out;
}

.opacityBtn:hover {
    background: var(--mainColor);
    color: var(--white);
}


button:active,
button:hover,
button:focus {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||           HEADER          ||========================*/
/*==========================||---------------------------||========================*/

.header {
    padding: 40px 0;
    font: 500 14px/24px Roboto, Tajawal;
    overflow: hidden;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu a {
    color: var(--textDark);
    margin: 0 20px;
    position: relative;
    display: inline-block;
    transition: all .4s ease-in-out;
}

.navMenu a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--mainColor);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    transition: all .4s ease-in-out;
}

.navMenu a:hover,
.navMenu .active {
    color: var(--mainColor);
}

.navMenu a:hover::after,
.navMenu .active::after {
    width: 25px;
}

.navMenu svg {
    display: none;
}

.flexGroup {
    display: flex;
    align-items: center;
}

.header .getApp {
    margin: 0 20px;
    font-size: 12px;
    min-width: 120px;
}

.header .language {
    width: 40px;
}

.headerData {
    margin-top: 60px;
    padding: 45px 0;
}

.headerData .row {
    align-items: center;
}

.headerData h1 {
    font: Bold 50px/75px Poppins;
    letter-spacing: 1.14px;
}

.headerData p {
    font: normal 15px/30px Poppins;
    letter-spacing: 1.25px;
}

.headerData .flexGroup {
    margin: 40px 0 0 0;
}

.watchVideo {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.watchBtn {
    border: 1px solid var(--mainColor);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 5px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.watchBtn span {
    background: var(--mainColor);
    color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
}

.watchText {
    padding: 0 10px;
    text-transform: capitalize;
}

.watchBtn:hover {
    padding: 0;
    border-color: transparent;
}

.watchBtn:hover span {
    width: 100%;
    height: 100%;
}

.watchBtn:hover .watchText {
    color: var(--mainColor);
}

.header .screens {
    background: var(--mainColor);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px;
}

.header .screen2 {
    margin-left: -50px;
    margin-top: -90px;
}

.header .screen1 {
    z-index: 1;
}

@media screen and (max-width:767px) {
    .header {
        padding: 20px 0;
    }

    .header .getApp {
        display: none;
    }

    .header .language {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin: 0 15px;
    }

    .menuBtn {
        width: 20px;
        height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0;
        cursor: pointer;
    }

    .menuBtn span {
        width: 100%;
        background: var(--textDark);
        height: 2px;
        display: block;
        border-radius: 5px;
        transition: all .4s ease-in-out;
    }

    .menuBtn span:nth-child(2) {
        width: 75%;
    }

    .menuBtn:hover span {
        width: 100%;
        background: var(--mainColor);
    }

    .navMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 270px;
        background: var(--white);
        transition: all .5s ease-in-out;
        transform: translateX(-100%);
        z-index: 99;
    }

    .navMenu.show {
        transform: translateX(0);
    }

    .navMenu svg {
        display: block;
        fill: var(--mainColor);
        stroke: none;
        height: 80px;
        width: 270px;
    }

    .navMenu a {
        margin: 10px 0;
        display: block;
        padding: 10px 20px;
    }

    .navMenu a::after {
        top: 18px;
        left: -11px;
        transform: rotate(270deg);
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;
        z-index: 98;
    }

    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width:768px) {
    .headerData {
        padding: 0;
        margin-top: 40px;
    }

    .headerData h1 {
        font: Bold 25px/35px Poppins;
    }

    .headerData p {
        font: normal 13px/30px Poppins;
        letter-spacing: 0;
    }

    .headerData .flexGroup {
        margin: 20px 0 0 0;
    }

    .fullBtn {
        padding: 0 10px;
        font-size: 12px;
        border-radius: 8px;
    }

    .header .screens {
        margin-top: 80px;
        padding: 0 20px;
    }

    .header .screen2 {
        margin-top: -30px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .navMenu a {
        margin: 0 7px;
        font-size: 13px;
    }

    .header .getApp {
        margin: 0 10px;
        padding: 0 10px;
        min-width: fit-content;
        height: 30px;
        border-radius: 5px;
    }

    .header .language {
        height: 30px;
        border-radius: 5px;
        width: 30px;
    }
}

@media (min-width:1200px) {
    .header .screens {
        height: 540px;
        width: 540px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

.sponsors {
    padding: 40px 0;
}

.sponsors .owl-stage {
    display: flex;
}

.sponsors .owl-item {
    display: flex;
    flex: 1 0 auto;
}

.sponsors .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors .item img {
    width: auto;
    max-height: 40px;
}

/*==========================||---------------------------||========================*/
/*==========================||            About          ||========================*/
/*==========================||---------------------------||========================*/

.aboutus .row {
    align-items: center;
}

.secInfo span {
    border-radius: 7px;
    background: var(--secondColor);
    color: var(--mainColor);
    padding: 6px 12px;
    font: 400 14px/19px Roboto, Tajawal;
    margin-bottom: 14px;
    display: inline-block;
}

.secInfo h2 {
    font: 900 37px/53px Roboto, Tajawal;
    color: var(--textDark);
}

.secInfo p {
    font: 400 14px/25px Roboto, Tajawal;
}

.dowloadStors {
    display: flex;
    align-items: center;
    padding: 30px 0 0 0;
}

.downloadStore {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    border-radius: 12px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.downloadStore:hover {
    transform: translateY(-10px);
}

.downloadStore .data {
    padding-left: 15px;
}

.downloadStore h5 {
    font: 400 12px/26px Roboto, Tajawal;
    color: var(--textMedium);
    margin: 0;
}

.downloadStore h3 {
    font: Bold 17px/25px Roboto, Tajawal;
    margin: 0;
    color: var(--textDark);
}

.downloadStore:last-of-type {
    margin: 0 20px;
}

.aboutShape {
    text-align: center;
    padding: 0 40px;
}

.aboutShapeBox {
    position: relative;
}

.aboutScreen {
    position: relative;
    z-index: 1;
}

.aboutScreen img {
    max-height: 560px;
}

.outerShape {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid var(--grey);
    position: absolute;
    top: 0;
    border-radius: 50%;
    -webkit-animation: circle 10s infinite linear;
    animation: circle 10s infinite linear;
}

.outerShape .circle {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    position: absolute;
}

.outerShape .circle1 {
    background: var(--mainColor);
    top: 30%;
    right: 15px;

}

.outerShape .circle2 {
    background: var(--orange);
    top: 67%;
    left: 15px;
}

.outerShape .circle::before {
    content: "";
    border: 1px solid var(--grey);
    width: 20px;
    height: 20px;
    display: block;
    border-radius: inherit;
    position: absolute;
    top: -4px;
    left: -4px;
}

.outerShape .circle::after {
    content: "";
    border: 1px solid var(--grey);
    width: 40px;
    height: 40px;
    display: block;
    border-radius: inherit;
    position: absolute;
    top: -15px;
    left: -15px;
}

.internalShape {
    width: 70%;
    height: 70%;
    display: block;
    border: 1px solid var(--grey);
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 50%;
}

@keyframes circle {
    from {
        -webkit-transform: rotateZ(0deg)
    }

    to {
        -webkit-transform: rotateZ(360deg)
    }
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: rotateZ(0deg)
    }

    to {
        -webkit-transform: rotateZ(360deg)
    }
}


@media screen and (max-width:768px) {
    .aboutScreen img {
        max-height: 290px;
    }

    .aboutShape {
        padding: 0;
    }

    .secPadding {
        padding: 30px 0px;
    }

    .outerShape .circle1 {
        right: 5px;
    }

    .outerShape .circle2 {
        left: 5px;
    }

    .outerShape .circle::after {
        width: 30px;
        height: 30px;
        top: -10px;
        left: -10px;
    }

    .aboutus .aboutData {
        padding-top: 30px;
    }

    .secInfo span {
        font: 400 13px/19px Roboto, Tajawal;
        padding: 3px 12px;
    }

    .secInfo h2 {
        font: 900 20px/30px Roboto, Tajawal;
    }

    .secInfo p {
        font: 400 13px/23px Roboto, Tajawal;
    }

    .dowloadStors {
        justify-content: space-between;
    }

    .downloadStore {
        padding: 5px 15px;
        height: auto;
    }

    .downloadStore:last-of-type {
        margin: 0;
    }

    .downloadStore h3 {
        font: Bold 13px/18px Roboto, Tajawal;
    }

    .downloadStore img {
        width: 20px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .aboutScreen img {
        max-height: 330px;
    }

    .aboutShapeBox {
        position: relative;
        width: 330px;
        height: 330px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Features        ||========================*/
/*==========================||---------------------------||========================*/

.features {
    position: relative;
}

.features::before {
    content: "";
    position: absolute;
    top: calc(50% - 140px);
    left: 0;
    width: 150px;
    height: 280px;
    display: block;
    background: url('../images/dots-grey.png') no-repeat;
    background-size: cover;
}

.features .row {
    align-items: center;
}

.featuresBlock {
    margin: 30px 0 0 0;
}

.feature {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.feature .icon {
    width: 40px;
    height: 40px;
    background: var(--secondColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 7px;
}

.feature .data {
    width: calc(100% - 50px);
}

.feature h3 {
    font: 900 14px/26px Roboto, Tajawal;
    margin: 0;
}

.feature h6 {
    font: 400 13px/20px Roboto, Tajawal;
    color: var(--text);
}

.featuresScreens {
    display: flex;
    position: relative;
    margin-top: -40px;
    padding: 40px 50px 0 120px;
}

.featuresShapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featuresScreen {
    position: relative;
    z-index: 1;
}

.featuresScreen1 {
    transform: rotate(-41deg);
    transform-origin: right;
    margin-top: -87px;
    margin-right: -69px;
}

.shape2 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 15%;
    top: 57%;
}

.shape1 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -15px;
    top: calc(50% - 100px);
}

.shape3 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 28%;
}

@media screen and (max-width:768px) {
    .featuresScreens {
        padding: 70px 20px 0 58px;
    }

    .featuresScreen1 {
        transform: rotate(-29deg);
        margin-top: -48px;
        margin-right: -75px;
    }

    .shape1 {
        width: 80px;
        height: 80px;
        right: 0;
        top: calc(50% - 40px);
    }

    .shape2 {
        width: 70px;
        height: 70px;
    }

    .shape3 {
        width: 102px;
        height: 112px;
    }

    .shape3 img {
        height: 100%;
    }

    .features::before {
        display: none;
    }

    .feature {
        padding-bottom: 5px;
    }

    .feature h3 {
        font: 900 13px/21px Roboto, Tajawal;
    }

    .feature h6 {
        font: 400 12px/20px Roboto, Tajawal;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .featuresBlock .row {
        margin: 0 -5px;
    }

    .featuresBlock .col-12 {
        padding: 0 5px;
    }

    .features::before {
        display: block;
        top: calc(50% - 80px);
        width: 120px;
        height: 160px;
    }

    .feature .icon {
        width: 30px;
        height: 30px;
    }

    .feature .data {
        width: calc(100% - 37px);
    }
}



/*==========================||---------------------------||========================*/
/*==========================||        App Screens        ||========================*/
/*==========================||---------------------------||========================*/

.secHeader {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 40px;
}

.secHeader h2 {
    font: 900 40px/53px Roboto, Tajawal;
    letter-spacing: 0.8px;
    color: var(--textDark);
}

.secHeader p {
    font: 400 15px/24px Roboto, Tajawal;
}

.owlScreens .owl-stage {
    padding: 40px 0;
}

.owlScreens .owl-item.active.center {
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}

@media screen and (max-width:425px) {
    .owlScreens .owl-item.active.center {
        transform: scale(1);
    }

    .owlScreens .owl-item img {
        max-height: 300px;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    .secHeader h2 {
        font: 900 25px/45px Roboto, Tajawal;
    }

    .secHeader p {
        font: 400 13px/24px Roboto, Tajawal;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||        Download App       ||========================*/
/*==========================||---------------------------||========================*/

.downloadWrapper {
    background: url('../images/downloadBg.png') no-repeat;
    background-size: cover;
    padding: 80px 0 0 0;
    overflow: hidden;
}

.downloadWrapper h2 {
    font: Bold 43px/60px Roboto, Tajawal;
    letter-spacing: 1px;
    color: var(--white);
}

.downloadWrapper p {
    font: 300 15px/30px Roboto, Tajawal;
    color: var(--white);
    max-width: 580px;
}

.downloadWrapper .dowloadStors {
    padding: 30px 0 70px;
}

.downloadWrapper .downloadStore {
    padding: 10px 30px;
}

.downloadWrapper .downloadStore .data {
    padding-left: 20px;
}

.downloadScreens {
    display: flex;
}

.downloadScreen {
    transform: scale(1, 1.3);
    margin-top: 50px;
}

.downloadScreen.downloadScreen2 {
    transform: scale(1.7, 1.5);
    z-index: 1;
    margin-top: 40px;
}

@media screen and (max-width:768px) {
    .downloadWrapper {
        padding: 30px 0 0 0;
    }

    .downloadWrapper h2 {
        font: Bold 23px/30px Roboto, Tajawal;
    }

    .downloadWrapper p {
        font: 300 13px/23px Roboto, Tajawal;
    }

    .downloadWrapper .downloadStore {
        padding: 10px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Counts         ||========================*/
/*==========================||---------------------------||========================*/

.countsBox {
    background: url('../images/map.png') no-repeat;
    background-size: cover;
}

.countsBlocks {
    padding: 20px 0 0 0;
    text-align: center;
}

.count h4 {
    font: Bold 35px/45px Roboto, Tajawal;
    letter-spacing: 0px;
    color: var(--mainColor);
}

.count i {
    font-size: 20px;
    transform: translateY(-2px);
    display: inline-block;
}

.count h3 {
    font: 500 21px/33px Roboto, Tajawal;
}

@media screen and (max-width:768px) {
    .countsBlocks {
        padding: 0;
    }

    .count h4 {
        font: Bold 20px/25px Roboto, Tajawal;
        margin: 0;
    }

    .count i {
        font-size: 10px;
    }

    .count h3 {
        font: 500 15px/30px Roboto, Tajawal;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            FOOTER         ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    background: url('../images/footerBg.png') no-repeat;
    background-size: cover;
    padding: 30px 0;
    text-align: center;
    color: var(--white);
}

.footerMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footerMenu a {
    font: 400 16px/24px Roboto, Tajawal;
    color: inherit;
    margin: 0 15px;
    transition: all .3s ease-in-out;
}

.footerMenu a:hover {
    transform: translateY(-5px);
}

.social a {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, .15);
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0 4px;
    transition: all .3s ease-in-out;
}

.social a:hover {
    background: var(--white);
    color: var(--mainColor);
    transform: translateY(-5px);
}

.footer p {
    color: var(--white);
    font: 400 16px/24px Roboto, Tajawal;
    margin: 20px 0 0 0;
}

.footer p a {
    color: inherit;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline !important;
    font-weight: 500;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.footer p a:hover {
    transform: translateX(5px);
}

@media screen and (max-width:768px) {
    .footer {
        padding: 20px 0;
    }

    .footer .logo {
        max-width: 100px;
        margin: auto;
    }

    .footerMenu {
        padding: 10px 0;
    }

    .footerMenu a {
        font-size: 13px;
        margin: 0 4px;
    }

    .social a {
        width: 25px;
        height: 25px;
        font-size: 13px;
    }

    .footer p {
        font-size: 13px;
        margin: 10px 0 0 0;
    }

    .footer p a {
        font-size: 13px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||              AR           ||========================*/
/*==========================||---------------------------||========================*/

.ar {
    direction: rtl;
    text-align: right;
}

.ar .navMenu {
    left: auto;
    right: 0;
    transform: translateX(100%);
}

.ar .navMenu.show {
    transform: translateX(0);
}

.ar .owl-carousel {
    direction: ltr;
}

.ar .navMenu a::after {
    left: auto;
    right: 0;
}

.ar .header .screen2 {
    margin-left: 0;
    margin-right: -50px;
}

.ar .downloadStore .data {
    padding: 0 15px 0 0;
}

.ar .featuresScreens {
    flex-direction: row-reverse;
    padding: 40px 60px 0 110px;
}

.ar .shape1 {
    right: 0;
}

.ar .shape3 {
    left: 10%;
}

@media screen and (max-width: 767px) {
    .ar .navMenu a::after {
        right: -11px;
    }
}

@media screen and (max-width: 768px) {
    .ar .featuresScreen1 {
        transform: rotate(-38deg);
        margin-top: -39px;
        margin-right: -39px;
        margin-left: -50px;
    }

    .ar .shape1 {
        right: 30px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||            Loader        ||========================*/
/*==========================||---------------------------||========================*/

.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--mainColor);
    z-index: 999;
    position: relative;
}

.loading {
    display: flex;
    color: var(--white);
    font-size: 8em;
    font-family: Roboto;
    text-transform: uppercase;
}

.loading span {
    text-shadow: 0 1px #bbb, 0 2px #bbb, 0 3px #bbb, 0 4px #bbb, 0 5px #bbb, 0 6px transparent, 0 7px transparent, 0 8px transparent, 0 9px transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(20px);
    animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce {
    to {
        text-shadow: 0 1px #bbb, 0 2px #bbb, 0 3px #bbb, 0 4px #bbb, 0 5px #bbb, 0 6px #bbb, 0 7px #bbb, 0 8px #bbb, 0 9px #bbb, 0 50px 25px rgba(0, 0, 0, 0.2);
        transform: translateY(-20px);
    }
}

@media screen and (max-width:575px) {
    .loading {
        font-size: 50px;
    }
}